.introduction {
  min-height: 104vh;
  height: fit-content;
  width: 100%;
  background-color: rgb(0, 48, 73);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5em;
  color: rgb(253, 240, 213);
}

.intro-about{
  width: 40vw;
  margin: 5em;
}

#name {
  font-size: 5em;
  font-weight: 500;
  color: rgb(253, 240, 213);
}
