.experience,
.education {
    min-height: 100vh;
    height: fit-content;
    min-width: fit-content;
    width: 100%;
    padding: 5em;
}

.experience{
    color: rgb(253, 240, 213);
    /* rgb(102, 155, 188) */
    /* acik mavi: rgb(138, 210, 255) */
    background-color: rgb(102, 155, 188);
}

.education{
    background-color: rgb(253, 240, 213);
    color: rgb(193, 18, 31);
}

.edu-box {
    display: flex;
    padding: 5em;
    justify-content: center;
    align-items: center;
}